PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_HOST=http://127.0.0.1:5000/
PLAYWRIGHT_SLOWMO=500
PLAYWRIGHT_MAX_RETRIES=0

# GLOBAL EMAIL SETTINGS #
IMAP_SEARCH_UNSEEN="1"
IMAP_SEARCH_SINCE_DATE="01-Sep-2021"
# SMTP email host
EMAIL_HOST="email.example.com"
# EMAIL_SEARCH_API_HOST is a http email api which can search email, not an SMTP server
EMAIL_SEARCH_API_HOST="search-email.dokku.karmacomputing.co.uk"

# SHOP OWNER EMAIL SETTINGS for test 704 #
SHOP_OWNER_TEST_EMAIL="admin@example.com"
IMAP_SEARCH_SUBJECT_MAGIC_LOGIN="Subscribie Magic Login"
SHOP_OWNER_EMAIL_PASSWORD="password"


# SUBSCRIBER EMAIL Settings #
SUBSCRIBER_EMAIL_USER="bob@example.com"
RESET_PASSWORD_IMAP_SEARCH_SUBJECT="Subscribie Password Reset"
SUBSCRIBER_EMAIL_PASSWORD="changeme"

