PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_HOST=http://127.0.0.1:5000/
PLAYWRIGHT_SLOWMO=500
RETRY=0

# GLOBAL EMAIL SETTINGS #
imap_search_unseen="1"
imap_search_since_date="01-Sep-2021"
email_search_api_host="search-email.dokku.karmacomputing.co.uk"

# SHOP OWNER EMAIL SETTINGS #
email_host=""
email_user=""
imap_search_subject=""
email_password=""


# SUBSCRIBER EMAIL Settings #
subscriber_email_host="email.example.com"
subscriber_email_user="bob@example.com"
reset_password_imap_search_subject="Password Reset"
subscriber_email_password="changeme"

